<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860846154434-4kkm4r82o65trp9c2nl180l09snv3pht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860846154434-4kkm4r82o65trp9c2nl180l09snv3pht</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>860846154434-etlq9r6p0ec8cl5jt03g0k0t0mj36gb6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjEFpqUSazM7SGO4Dctnprh8GleUR8skM</string>
	<key>GCM_SENDER_ID</key>
	<string>860846154434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sge.harmonic</string>
	<key>PROJECT_ID</key>
	<string>harmonicdevapp</string>
	<key>STORAGE_BUCKET</key>
	<string>harmonicdevapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860846154434:ios:d44b5506b4d8095bded15b</string>
	<key>DATABASE_URL</key>
	<string>https://harmonicdevapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>